[submodule "mods/minetest-3d_armor"]
	path = mods/minetest-3d_armor
	url = https://github.com/stujones11/minetest-3d_armor.git
	ignore = dirty

[submodule "mods/minetest-bows"]
	path = mods/minetest-bows
	url = https://github.com/Arcelmi/minetest-bows.git
	
